<!--下载项-->
{% if site.show_downloads %}
<ul class="downloads">
  <li><a target="_blank" href="{{ site.unity.package_url }}">Download <strong>Package</strong></a></li>
  {% if page.lang == "cn" %}
  <li><a target="_blank" href="{{ site.downloads.manaual_cn_pdf }}">Download<strong>Manual pdf</strong></a></li>
  {% else %}
  <li><a target="_blank" href="{{ site.downloads.manaual_en_pdf }}">Download<strong>Manual pdf</strong></a></li>
  {% endif %}
  <li><a target="_blank" href="{{ site.github.issues_new_url }}">File an<strong>Issue</strong></a></li>
</ul>
{% endif %}