<!--主页面国际化切换-->
{%- include i18ntext.html -%}
{%- assign otherlink =  "i18n_" | append: i18ntext.i18n.link -%}
{%- assign otheri18ntext = site.data[otherlink] -%}

{{otheri18ntext.home.description}}<br/>
{{page.page_id}}<br/>
{{otheri18ntext.home.nav.size}}<br/>
{%- assign thisid = page.page_id | append: "" -%}
{%- assign pageother = otheri18ntext.home.nav | where: "id", thisid | first -%}
555:{{otheri18ntext.home.nav[0].text}}
666:{{pageother.text}}  <br/>

{% if page.lang == "zh-CN" %}
<p>中文 | <a href="{{ site.home.url }}/{{ pageother.pattern}}">English</a></p>
{% else %}
<p><a href="{{ site.home.url }}/{{ pageother.pattern}}">中文</a> | English</p>
{% endif %}