<!--主页面国际化切换-->
{%- include i18ntext.html -%}
{%- assign otherlink = i18ntext.i18n.link -%}
{%- assign otheri18ntext = site.data[otherlink] -%}

{%- assign pagenow = i18ntext.main.nav | where: "id", page_page_id -%}
{%- assign pageother = otheri18ntext.main.nav | where: "id", page_page_id -%}

{% if page.lang == "zh-CN" %}
<p>{{i18ntext.i18n.title}} | <a href="{{ site.home.url }}/{{ pageother.pattern}}">{{i18ntext.i18n.title}}</a></p>
{% else %}
<p><a href="{{ site.home.url }}/{{ pageother.pattern}}">{{i18ntext.i18n.title}}</a> | {{i18ntext.i18n.title}}</p>
{% endif %}