<!--Manual内部导航-->
{% assign manual_pages = site.data.manual.pages | where: "lang", page.lang %}

{% for p in manual_pages %}
  {% if p.id == page.page_id %}
	{% assign idx = forloop.index0 %}
	{% break %}
  {% endif%}
{% endfor%}

<manual-nav>
{% assign works = site.data.i18n[page.lang] %}
{% if page.page_id == manual_pages[0].id %}
  {% assign nextIdx = idx | plus: 1 %}
  <div class="next"><a href="{{ site.home.url }}/{{ manual_pages[nextIdx].pattern}}" title="{{manual_pages[nextIdx].text}}">{{works.next}}</a></div>
{% elsif page.page_id == manual_pages[-1].id %}
  {% assign prevIdx = idx | plus: -1 %}
  <div class="prev"><a href="{{ site.home.url }}/{{ manual_pages[prevIdx].pattern}}" title="{{manual_pages[prevIdx].text}}">{{works.prev}}</a></div>
{% else %}
  {% assign prevIdx = idx | plus: -1 %}
  <div class="prev"><a href="{{ site.home.url }}/{{ manual_pages[prevIdx].pattern}}" title="{{manual_pages[prevIdx].text}}">{{works.prev}}</a></div>
  {% assign nextIdx = idx | plus: 1 %}
  <div class="next"><a href="{{ site.home.url }}/{{ manual_pages[nextIdx].pattern}}" title="{{manual_pages[nextIdx].text}}">{{works.next}}</a></div>
{% endif %}
</manual-nav>