<!--Manual内部导航-->
{%- include i18ntext.html -%}
{%- assign manual_pages = i18ntext.manual.nav | where: "show", "yes" -%}

{% for p in manual_pages %}
  {% if p.id == page.page_id %}
	{% assign idx = forloop.index0 %}
	{% break %}
  {% endif%}
{% endfor%}

<manual-nav>
{% unless  page.page_id == manual_pages[0].id %}
  {% assign prevIdx = idx | plus: -1 %}
  <div class="prev"><a href="{{ manual_pages[prevIdx].pattern | relative_url }}" title="{{manual_pages[prevIdx].text}}">{{i18ntext.manual.prev}}</a></div>
{% endunless  %}

  <div class="catalog"><a href="{{ site.home.url }}/{{ i18ntext.manual.catalog_pattern }}" title="{{i18ntext.manual.catalog}}">{{i18ntext.manual.catalog}}</a></div>

{% unless  page.page_id == manual_pages[-1].id %}
  {% assign nextIdx = idx | plus: 1 %}
  <div class="next"><a href="{{ manual_pages[nextIdx].pattern | relative_url }}" title="{{manual_pages[nextIdx].text}}">{{i18ntext.manual.next}}</a></div>
{% endunless  %}
</manual-nav>