<!--Manual内部导航-->
{% assign manual_pages = site.data.manual.pages | where: "lang", page.lang %}

{% for p in manual_pages %}
  {% if p.id == page.page_id %}
	{% assign idx = forloop.index0 %}
	{% break %}
  {% endif%}
{% endfor%}

{% if page.page_id == manual_pages[0].id %}
  {% assign nextIdx = idx | plus: 1 %}
  <p><a href="{{ site.home.url }}/{{ manual_pages[nextIdx].pattern}}">下一页</a></p>
{% elsif page.page_id == manual_pages[-1].id %}
  {% assign prevIdx = idx | plus: -1 %}
  <p><a href="{{ site.home.url }}/{{ manual_pages[prevIdx].pattern}}">上一页</a></p>
{% else %}
  {% assign nextIdx = idx | plus: 1 %}
  {% assign prevIdx = idx | plus: -1 %}
  <p><a href="{{ site.home.url }}/{{ manual_pages[prevIdx].pattern}}">上一页</a> | <a href="{{ site.home.url }}/{{ manual_pages[nextIdx].pattern}}">下一页</a></p>
{% endif %}